@font-face {
  font-family: "League Spartan";
  src: url("../fonts/league-spartan.ttf");
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: "Source Sans 3";
  src: url("../fonts/source-sans-3.ttf");
  font-style: normal;
  font-weight: 200 900;
  font-display: swap;
}

:root {
  --back-col: #373737;
  --prim-col: #202020;
  --acc-col: #fb0;
  --text-col: #fff;
  --title-font: "League Spartan", Arial, sans-serif;
  --text-font: "Source Sans 3", Verdana, sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.full-screen {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  padding: 20px;
  background-color: var(--back-col);
  color: var(--text-col);
  font-family: var(--text-font);

  & > .flex-col:first-child {
    align-items: flex-start;
    flex: 1 1 100px;
  }

  & > .flex-col:nth-child(2) {
    padding: 0 20px;
  }

  & > .flex-col:last-child {
    align-items: flex-end;
    flex: 1 1 100px;
  }
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; /* Might create problems later */
}

/* First Column */
.info-list {
  list-style-position: inside;
}

.player-panel {
  align-self: flex-end;
  align-items: flex-end;
  gap: 10px;
}

/* Center Column */
.computer-cards,
.player-cards,
.selected-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.computer-cards {
  transform: rotate(180deg) scale(0.9);
}

.selected-cards {
  gap: 20px;

  #pCardSelect,
  #cCardSelect {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 10px;
    border: 5px dashed var(--prim-col);
    width: 200px;
    height: 300px;

    .select-indicator {
      position: absolute;
      width: 50%;
    }
  }

  #pCardSelect {
    font-family: var(--title-font);
    font-weight: 700;
    font-size: 2em;
    text-align: center;
    color: var(--prim-col);
  }
}

.player-cards {
  .game-card {
    cursor: grab;

    &:hover {
      transform: scale(1.02);
      box-shadow: 0 0 10px var(--prim-col);
    }
  }
}

.game-card {
  z-index: 1;
  height: 240px;
  width: 160px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--prim-col);
  color: var(--text-col);
  border: 12px solid var(--acc-col);
  border-radius: 10px;
  transition: all 0.3s;

  .card-icon {
    width: 80%;
  }

  .card-text {
    font-family: var(--title-font);
    font-weight: 700;
    font-size: 1.2rem;
  }
}

/* Last Column */
.stats-table {
  th {
    padding: 5px;
    background-color: var(--back-col);
  }

  td {
    padding: 5px;
    text-align: center;
    font-weight: 500;
    border: 1px solid var(--back-col);
  }
}

/* Components */
.info-panel {
  background-color: var(--prim-col);
  border-radius: 10px;
  padding: 20px;

  h2 {
    font-family: var(--title-font);
    border-bottom: 1px solid var(--text-col);
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
}

.small-panel {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  font-family: var(--title-font);
  font-weight: 700;
  background-color: var(--prim-col);

  .flex-col {
    align-items: center;
    color: var(--acc-col);
  }

  img {
    height: 30px;
    width: auto;
  }

  #roundBet {
    color: var(--text-col);
    margin-top: 10px;
  }
}

.modal {
  align-items: stretch;
  justify-content: center;
  padding: 50px;
  border: 2px solid var(--acc-col);
  border-radius: 10px;
  background-color: var(--prim-col);
  color: var(--acc-col);
  font-family: var(--title-font);
  gap: 20px;

  .modal-title {
    gap: 5px;
  }

  label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 20px;
    font-family: var(--text-font);
    gap: 5px;
  }

  select {
    font-family: var(--text-font);
    background-color: var(--back-col);
    color: var(--text-col);
    border: 2px solid var(--acc-col);
    font-size: 1em;
    padding: 5px 10px;
    width: 100%;
    border-radius: 5px;
  }

  button {
    align-self: center;
    background-color: var(--acc-col);
    color: var(--back-col);
    padding: 10px 20px;
    width: fit-content;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    font-family: var(--title-font);
    font-size: 20px;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
      /* Fix Hover */
      /* transform: scale(0.95); */
      color: var(--prim-col);
    }
  }

  &::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
  }
}
