@font-face {
  font-family: "League Spartan";
  src: url("../fonts/league-spartan.ttf");
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: "Source Sans 3";
  src: url("../fonts/source-sans-3.ttf");
  font-style: normal;
  font-weight: 200 900;
  font-display: swap;
}

:root {
  --back-col: #373737;
  --prim-col: #202020;
  --acc-col: #fb0;
  --text-col: #fff;
  --title-font: "League Spartan", Arial, sans-serif;
  --text-font: "Source Sans 3", Verdana, sans-serif;
}
